@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Final Project</h1>
        <hr>

        <div class="card-deck p-3">
            <div class="card">
                <img class="card-img-top" src="~/img/professorbubbles.jpg" alt="Man with his eyes closed thinking about math equations">
                <div class="card-body">
                    <h5 class="card-title">Professors</h5>
                    <p class="card-text">Manage professor information</p>
                    <a class="btn btn-primary" href="/professors">Professors</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="~/img/code.jpeg" alt="Code">
                <div class="card-body">
                    <h5 class="card-title">Software</h5>
                    <p class="card-text">Manage software information</p>
                    <a class="btn btn-primary" href="/Software">Software</a>
                </div>
            </div>
        </div>

        <div class="card-deck p-3">
            <div class="card">
                <img class="card-img-top" src="~/img/hugeserver.jpg" alt="Huge and high tech server room">
                <div class="card-body">
                    <h5 class="card-title">Systems</h5>
                    <p class="card-text">Manage system information</p>
                    <a class="btn btn-primary" href="/CSSystems">Systems</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="~/img/bigpad.jpg" alt="Lenovo Thinkpad Laptop">
                <div class="card-body">
                    <h5 class="card-title">Inventory</h5>
                    <p class="card-text">Manage inventory information</p>
                    <a class="btn btn-primary" href="/InventoryItems">Inventory</a>
                </div>
            </div>
        </div>
    </div>
