@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Final Project</h1>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col"><a href="/professors"><i class="fas fa-user"></i> Professors</a></div>
                <div class="col"><a href="/software"><i class="far fa-save"></i> Software</a></div>
                <div class="w-100"></div>
                <div class="col"><a href="/systems"><i class="fas fa-server"></i> Systems</a></div>
                <div class="col"><a href="/inventoryitems"><i class="fas fa-grip-horizontal"></i> Inventory Items</a></div>
            </div>
        </div>
    </div>
